Textbooks/Munson, Young and Okiishis Fundamentals of Fluid Mechanics by Philip M. Gerhart, Andrew L. Gerhart, John I. Hochstein (z-lib.org).pdf
Textbooks/Solutions - Fundamentals of Fluid Mechanics - 6th Ed - Munson.pdf